/Library
/obj
/Angie.CSharp.csproj
/Angie.CSharp.Editor.csproj
/Angie.CSharp.Plugins.csproj
/Angie.v12.suo
/.vs
/Temp
/*.sdf
/space_cpp/*.sdf
/space_cpp/*.suo
/space_cpp/x64/Debug/*.ilk
/space_cpp/x64/Debug/*.lib
/space_cpp/x64/Debug/*.pdb
/space_cpp/x64/Debug/*.exp
/space_cpp/Debug
/space_cpp/Release
/space_cpp/x64
/space_cpp/Bullet/build/vs2010/obj
/space_cpp/Bullet/build/vs2010/ipch
/space_cpp/space_cpp/x64
/space_cpp/space_cpp/Debug
/space_cpp/space_cpp/Release
/space_cpp/plugin_wrap/x64
/space_cpp/plugin_wrap/Debug
/space_cpp/plugin_wrap/Release
